
.logoContainer {
    text-align: center;
    border-radius: 15px;
    cursor: pointer;

}


.logoContainer p {
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}
  

.border {
    position: absolute;
    pointer-events: none; 
    box-sizing: border-box; 
    text-align: center;
    cursor: pointer;

}