
.logoContainer {
    position: relative;
    text-align: center;
    border-radius: 4px; 
    cursor: pointer
}
.logoContainer p {
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
  

.border {
    pointer-events: none; 
    box-sizing: border-box; 
    text-align: center;
    cursor: pointer;

}