.studentFinDataContainer {
    background-color: white;
}

.dashboard {
    margin-left: 2vw;
    background-color: #FFFEF0;
}


.section {
    max-width: 1138px;
    width: 100vw;
    max-height: 712px;
    /* float: right; */
    margin-left: 2vw;
    background-color: #FFFEF0;
  
  }
.dashboardContainer {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-between; /* To separate left and right containers */
}

.additionalChartsContainer {
    display: flex;
    flex-direction: column;
    width: 100%; /* To take up 50% of the parent container width */
    margin-left: 20px;
}

.chartsContainer {
    width: 50%; /* To take up 50% of the parent container width */
}

.img {
    width: 20vw;
    height: 20vw;
    margin-right: 3vw;
  }


.schoolName{
    font-size: 0.8rem;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5vw;
}

.buttonContainer {
    display: flex;
    margin-top: 30vh; /* 캐릭터 이미지와의 거리를 조정합니다. */
}