.section {
  width: 100%;
  height: 62.5vw;
  background-color: FFFEF0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardContainer {
  background-color: white;
  width: 95%;
  height: 90%;
  padding: 2vw;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* To separate left and right containers */

  .leftArea {
    flex: 3;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5vw;

    .imgArea {
      width: 26vw;
      height: 26vw;
      margin-bottom: 1vw;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .descArea {
      line-height: 3vw;
    }
  }

  .pageContent {
    overflow: scroll;
  }

  .rightArea {
    flex: 7;

    .pageSelectArea {
      width: 21vw;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vw;
    }
    .dashboard {
      background-color: white;
      padding: 1vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      height: 80vh;
      display: flex;
      justify-content: space-between; /* To separate left and right containers */
    }

    .myBidContainer {
      display: flex;
      flex-direction: column;
      height: 50vw;
      gap: 3vw 0;

      .myBidArea {
        .products {
          display: flex;
          width: 61vw;
          gap: 0 2vw;
          overflow: scroll;
          padding: 2vw;
          box-sizing: border-box;
        }
      }
    }

    .myAvatarContainer {
      display: flex;
      flex-wrap: wrap;
      height: 50vw;
      gap: 2.5vw;

      overflow: scroll;
    }
  }
}

.additionalChartsContainer {
  display: flex;
  flex-direction: column;
  width: 100%; /* To take up 50% of the parent container width */
}

.chartsContainer {
  margin-bottom: 1vh;
}

.schoolName {
  font-size: 0.8rem;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.contentInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Changed to column layout */
  box-sizing: border-box;
  margin-top: 30vh;
  margin-right: 15vw;
}

.contentInput input:focus {
  outline: none; /* 클릭할 때 검정색 테두리 제거 */
  border: 1px solid #ececec; /* 클릭 시 보여질 테두리 스타일 */
}

.contentInput input {
  height: 7vh;
  width: 25vw;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0 2.4rem;
  border-radius: 0.3rem;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.inputWithIcon {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
}

.findIdLink {
  text-decoration: none;
  color: #a6a6a6;
  cursor: pointer;
  margin-right: 1.2rem;
}

.registerLink {
  text-decoration: none;
  color: #a6a6a6;
  cursor: pointer;
  margin-left: 1.2rem;
}

.changePwdLink {
  text-decoration: none;
  color: #a6a6a6;
  cursor: pointer;
}

.changePwdBtn {
  width: 25vw;
  height: 45px;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: #ffd43a;
  border-radius: 0.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.telInput {
  position: relative;
  display: flex;
  flex-direction: column; /* Added to ensure inputs are displayed vertically */
  align-items: center;
}

.telInput button {
  position: absolute;
  width: 70px;
  height: 22px;
  color: white;
  background-color: #a6a6a6;
  font-size: 0.8rem;
  right: 10px;
  top: 49px;
  border-radius: 10px;
  cursor: pointer;
}

.error {
  margin-top: 0.5vh;
  font-size: 1rem;
  color: #e81818;
}

.back {
  width: 4vw;
}

.avatar {
  position: relative;
  cursor: pointer;
}

.avatarEquipped {
  position: relative;
  cursor: pointer;
}

.avatarImage {
  width: 17vw;
  height: 17vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}

.avatarImageInactive {
  width: 17vw;
  height: 17vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  filter: grayscale(100%);
}

.avatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.dashboard {
  background-color: white;
  padding: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 80vh;
  display: flex;
  justify-content: space-between; /* To separate left and right containers */
}

.additionalChartsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; /* To take up 50% of the parent container width */
  margin-left: 20px;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
