.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 75vw;
  margin-top: 5vh;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  margin-top: 5px;
}



.attendanceBtn {
  margin-top: 1vh;
  font-size: 1rem;
  width: 6vw;
  height: 4vh;
  text-align: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: white;
  color: #FFD43A;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid #FFD43A; /* 노란색 테두리 */
}
.attendanceBtnSuccess{
  margin-top: 1vh;
  font-size: 1rem;
  width: 6vw;
  height: 4vh;
  text-align: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: #FFD43A;
  color: #FFD43A;
  cursor: pointer;
  font-weight: bold;
}

.chatMessage {
  border: 2px solid #FFD43A; /* 노란색 테두리 */
  border-radius: 0.5rem; /* 둥근 테두리 */
  padding: 0.5rem 1rem; /* 내부 여백 */
  background-color: #FFF4E0; /* 연한 노란색 배경 */
  color: #FF6F61; /* 분홍색 텍스트 */
  font-weight: bold; /* 굵은 글꼴 */
  font-size: 1.2rem; /* 글꼴 크기 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}