.bidSection {
	display: flex;
	flex-direction: column;
	width: calc(100% - 20vw);
  height: 100vh;
	padding: 5vh;
	margin: 0 auto;
	box-sizing: border-box;
}

.bidHeader {
	display: flex;
	justify-content: space-between;
	margin: 5vh 0;
}

.bidBody {
}

.bidBody{
	overflow-x: scroll;
}

.couponListWrapper{
	display: flex;
	justify-content: space-around;
}

.couponListTitle {
	text-align: center;
	font-size: 3vh;
	font-weight: bold;
	margin-bottom: 1vh;
}

.productsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1.8vw;
	padding: 2vw;
	box-sizing: border-box;
}