.section {
  max-width: 1138px;
  width: calc(100% - 260px);
  /* float: right; */
  margin-left: 2vw;
  background-color: #fffef0;
  height: auto;
}

.topRightButtons {
  position: absolute;
  right: 10px; /* 오른쪽 상단으로 이동 */
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.studentFinDataContainer {
  position: relative; /* sticky가 아니라 relative나 absolute 사용 */
  width: 54vw; /* 더 넓은 너비로 설정 */
  margin-left: 20px; /* 여백 조정 */
  height: auto; /* 내용에 따라 높이 자동 조정 */
}

.orderlist {
  margin-top: 6vh;
  font-size: 14px;
  position: relative;
  display: flex;
  margin-bottom: 3vh;
}

.orderlist > p {
  margin-top: 6vh;
  font-size: 14px;
  position: relative;
}

.orderTableContainer {
  max-height: 80vh;
  overflow: scroll;
}

.buttonSpacing {
  margin-right: 10px; /* 원하는 간격 값으로 조절 */
}
.orderTable {
  width: 20vw;
  background-color: #fffef4;
  line-height: 1.5;
  font-size: 14px;
  border-collapse: collapse;
  table-layout: fixed;
}

.orderTable th {
  width: 3vw;
}

.orderTable th:nth-child(2),
.orderTable td:nth-child(2) {
  width: 6vw;
}

.orderTable th:nth-child(3),
.orderTable td:nth-child(3) {
  width: 6vw;
}
.orderTable thead {
  background-color: #e6e5db;
}

.orderTable th {
  height: 8vh;
  font-size: 16px;
  vertical-align: middle;
}

.orderTable td {
  height: 7vh;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

/* ClassPage.module.css */

.ModalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  max-width: 300px; /* 원하는 최대 너비로 설정 */
  width: 80%; /* 원하는 너비로 설정 */
  z-index: 1000; /* 다른 컴포넌트 위에 나타나도록 설정 */
}
