.gamePage {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.gameTable {
  width: 60vw;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 5px;
}

.tableTitle {
  width: 100%;
  height: 7vh;
  background-color: #bbbd32;
  border-radius: 5px 5px 0 0;
  text-align: center;
  line-height: 7vh;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
}

.ballStage {
  padding: 4vh 4vw 4vh 4vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.seatBtn {
  width: 22vw;
  height: 8vh;
  background-color: var(--color-point-yellow);
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 800;
}

.studentList {
  text-align: center;
  width: 15vw;
  font-size: 1.2rem;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-evenly;
}
