.attendanceTable {
    width: 17vw;
    margin-bottom: 20px;
    height: 17vh;
    background-color: #FFFFFF;
    line-height: 1.5;
    box-shadow: 0px 3px 3px #4D4D4D;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  thead th {
    background-color: #F2F2F2;
  }
  
  th, td {
    border: 1px solid #F2F2F2;
    padding: 8px;
    text-align: center;
  }
  
  .present {
    font-size: 0.8rem;
    color: #4D4D4D;
  }
  