.savingsContainer {
  background-color: #F7F7F7;
    padding: 2vh; /* 내부 여백 조정 */
    box-shadow: 0px 3px 3px #4D4D4D; /* 그림자 효과 */
    align-items: flex-start; /* Align items to the start (left) */
    margin-bottom: 2vh;
    width: 15vw;
    border-radius: 12px;
}

.header {
  font-size: 1.2rem;
  color: #4D4D4D;
  font-weight: bold;

}

.subText {
  font-size: 1rem;
  color: #4D4D4D;
}

.interestRate {
  font-size: 0.8rem;
  color: #4D4D4D;

}
