.savingsContainer {
  background-color: #f7f7f7;
  padding: 2vh; /* 내부 여백 조정 */
  box-shadow: 0px 3px 3px #4d4d4d; /* 그림자 효과 */
  width: 18vw;
  height: 18vh;
  border-radius: 10px;
}

.noSaving {
  line-height: 18vh;
  text-align: center;
  color: #a6a6a6;
}

.header {
  font-size: 1.2rem;
  color: #4d4d4d;
  font-weight: bold;
}

.subText {
  display: block;
  font-size: 1rem;
  color: #4d4d4d;
  font-weight: 600;
  text-align: end;
}

.bar {
  height: 50px;
  position: relative;
}

.start {
  text-align: start;
}

.current {
  color: #5fa1c4;
}

.interestRate {
  font-size: 0.8rem;
  color: #4d4d4d;
  text-align: end;
}
