.couponContainer {
  height: 15vh;
  background-color: #f7f7f7;
  padding: 2vh;
  box-shadow: 0px 3px 3px #4d4d4d;
  width: 18vw;
  border-radius: 10px;
  overflow: scroll;
}

.couponLeft {
  display: flex;
  flex-direction: column;
}

.coupons {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.couponName {
  color: #ffffff;
  background-color: #ffd43a;
  border-radius: 5px;
  padding: 0.5vh;
  width: 13vw;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  margin-bottom: 1vh;
  display: flex;
  font-weight: 600;
}

.couponName span {
  color: #ffffff;
}

.couponCheck {
  width: 3vw;
  margin-top: 0.5vh;
}

.couponCheck > path {
  line-height: 3vh;
  color: #ffffff;
}

.couponCount {
  line-height: 4vh;
}

.couponIcon {
  font-size: 0.8rem;
  color: #ffffff;
  margin-right: 0.5vw; /* 변경된 부분 */
}

.noData {
  height: 15vh;
  line-height: 15vh;
  color: #a6a6a6;
  text-align: center;
}

.coupon_1 {
  background-color: #5fa1c4;
}
