.back {
    margin: 0 auto;
    max-width: 1138px;
    width: 100%;
    height: 712px; 
    background-color: #FFFEF0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; /* Added position relative */

}

.logo {
    position: absolute;
    display: flex;
    top:  204px; /* 상단에서 비율로 설정 */ 
    align-items: center; 
    justify-content: center; /* 수평 가운데 정렬 */
}


.content {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
    top: 324px;
}

.contentInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Changed to column layout */
    box-sizing: border-box;
  }


  .contentInput input:focus {
    outline: none; /* 클릭할 때 검정색 테두리 제거 */
    border: 1px solid #A6A6A6; /* 클릭 시 보여질 테두리 스타일 */
}

.contentInput input {
    height: 40px;
    width: 250px;
    justify-content: center;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: .3rem;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
}



.joinLink {
    width: 250px;
    height: 45px;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    background-color: #FFD43A;
    color: white;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.registerInput {
    position: relative;
    display: flex;
    flex-direction: column; /* Added to ensure inputs are displayed vertically */
    align-items: center;
  }
  
  .duplicateIdBtn {
      position: absolute;
      width: 70px;
      height: 22px;
      color: white;
      background-color: #A6A6A6;
      font-size: 0.8rem;
      right:10px;
      top: 9px;
      border-radius: 10px;
      cursor: pointer;
  }

  .sendCodeBtn
  {
    position: absolute;
    width: 70px;
    height: 22px;
    color: white;
    background-color: #A6A6A6;
    font-size: 0.8rem;
    right:10px;
    top: 168px;
    border-radius: 10px;
    cursor: pointer;
}

.searchSchool
  {
    position: absolute;
    width: 70px;
    height: 22px;
    color: white;
    background-color: #A6A6A6;
    font-size: 0.8rem;
    right:10px;
    top: 248px;
    border-radius: 10px;
    cursor: pointer;
}