.logoContainer {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 0.5vh;
  line-height: 3vh;
  padding: 0.3vh 1vh;
  background-color: #a6a6a6;
}

.logoContainer p {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}

.border {
  pointer-events: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
