.title {
    font-size: 1.2rem;
    margin-bottom: 2vw;
    font-weight: bold;
}


.content {
    font-size: 0.8rem;
    margin-bottom: 0.4vw;
}

.secondContent{
    font-size: 0.8rem;
    margin-top: 0.5vw;
}

.button{
    margin-top: 3vh;
    font-size: 1rem;
}