.section {
    max-width: 1138px;
    width: calc(100% - 260px);
    /* float: right; */
    margin-left: 2vw;
    background-color: #FFFEF0;
    height: auto; 

  }

.topRightButtons {
    position: absolute;
    right: 10px; /* 오른쪽 상단으로 이동 */
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.studentFinDataContainer {
  position: relative; /* sticky가 아니라 relative나 absolute 사용 */
  width: 54vw; /* 더 넓은 너비로 설정 */
  margin-left: 20px; /* 여백 조정 */
  height: auto; /* 내용에 따라 높이 자동 조정 */
}


.orderlist{
    margin-top: 6vh;
    font-size: 14px;
    position: relative;
    display: flex;
    margin-bottom: 3vh;
}

.orderlist button + button {
  margin-left: 10px; /* 번호와 총 비드 간격 조절 */
}

.orderlist > p {
  margin-top: 6vh;
  font-size: 14px;
  position: relative;
}

.orderTableContainer {
  display: flex;
  justify-content: flex-start; /* 테이블을 왼쪽 정렬 */
  align-items: flex-start; /* 상단 정렬 */
  width: 100%; /* 컨테이너의 전체 너비를 사용 */

}

.buttonSpacing {
  margin-right: 10px; /* 원하는 간격 값으로 조절 */
}
.orderTable {
  width: 20vw;
    background-color: #FFFEF4;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
}
  
.orderTable thead {
  background-color: #E6E5DB;
}

.orderTable th{
    height: 8vh;
    font-size: 16px;
    vertical-align: middle;
}
  
.orderTable td{
  height: 7vh;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}