.couponWrapper{
	background-color: #f23f3fd4;
	border-radius: 1vh;
	line-height: 3vh;
	width: 26vw;
  height: 10vw;
	display: flex;
	box-shadow: 0.2vw 0.6vw 0.8vw rgba(0,0,0,0.2);
}

.left{
	flex: 1.5;
	/* background-color: #5FA1C4; */
	border-radius: 1vh 0 0 1vh;

}

.right{
	flex: 8.5;
	/* background-color: #5fa1c4; */
	padding: 1.5vh;
	box-sizing: border-box;
	border-left: 2px dashed #ffffff50;
}

.couponHeader{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5vh;
	min-height: 3vh;
	line-height: 3vh;
}
.couponName{
	font-weight: bold;
	font-size: 2.5vh;
	color: white;
}

.couponDesc{
	font-size: 1.8vh;
	color: white;
}