.couponListWrapper{
	background-color: white;
	width: 32vw;
	height: 70vh;
	padding: 3vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 2vh;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
	overflow-x: scroll;
}