.header{ 
  /* background-color: orange; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vw;

  .title{
    margin-bottom: 1.5vw;

    input[type='text']{
      width: 85%;
      height: 4vw;
      font-size: 3vw;
      font-weight: 900;
      border: none;
    }
    input[type='text']:focus{
      outline: none;
    }
  }
  .productInfo{
    display: flex;
    justify-content: space-between;

    .startPrice{
      display: flex;

      input[type='number']{
        width: 10vw;
        height: 3.5vw;
        border: none;
        border-radius: 0.5vw;
        text-align: center;
        background-color: #E6E6E6;
      }
      input[type='number']:focus{
        outline: none;
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      div{
        line-height: 3.5vw;
        margin-left: 0.5vw;
      }
    }
  }
}

.body{
  /* background-color: pink; */
  display: flex;

  .left{
    /* background-color: orange; */
    width: 25vw;

    .myInfoImgPre{
      background-color: #E6E6E6;
      width: 25vw;
      height: 25vw;
      box-sizing: border-box;
      overflow: hidden;
    }

    .myInfoImgPre img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .fileSelect{
      display: flex;
      justify-content: space-between;
      height: 3vw;
      width: 100%;
      margin-top: 1vw;
    }
    
    .fileSelect .uploadName {
      width: 16vw;
      padding: 0 1vw;
      box-sizing: border-box;
      border: 1px solid #dddddd;
      color: #999999;
      border-radius: 1vw;
    }
    
    .fileSelect label{
      width: 7vw;
      display: inline-block;
      font-size: 1.5vw;
      line-height: 3vw;
      color: #fff;
      background-color: rgb(175, 184, 188);
      cursor: pointer;
      border-radius: 1vw;
      padding: 0 1vh;
      text-align: center;
    }
    
    .fileSelect input[type="file"] {
      display: none;
    }
  }

  .right{
    width: 25vw;
    margin: 0 0 2vw 2vw;

    textarea{
      width: 25vw;
      height: 29vw;
      border: none;
      font-size: 1.5vw;
      line-height: 2vw;
      resize: none;
      border: 1px solid #c8c8c8;
      padding: 1vw;
      border-radius: 0.5vw;
      box-sizing: border-box;
    }
    textarea:focus{
      outline: none;
    }
  }
}

.footer{
  margin-left: auto;
}