.productWrapper{
  background-color: white;
	box-sizing: border-box;
	border-radius: 1vh;
  width: 16vw;
  height: 21.2vw;
  padding: 1vw;
  margin: 0 1.2vw 2.4vw 1.2vw;
	display: flex;
  flex-direction: column;
	box-shadow: 2px 4px 12px rgba(0,0,0,0.08);
  text-align: center;
}

.imgWrapper{
  width: 14vw;
  height: 14vw;
  overflow: hidden;
  margin: 0 auto;
}

.imgWrapper > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productHeader{
  margin: 0.6vw 0;
}

.title{
  font-weight: bold;
  font-size: 2vh;
  margin-right: 0.5vw;
}

.userName{
	font-size: 1.8vh;
}

.displayPrice{
  color: #F23F3F;
  font-weight: bold;
	font-size: 2.2vh;
}