:root {
  --color-bg: #fffef0;
  --color-nav: #a6a6a6;
  --color-important: #4d4d4d;
  --color-text-important: #5fa1c4;
  --color-box-important: #f23f3f;
  --color-point-pink: #ffb4b4;
  --color-point-yellow: #fdea87;
  --color-point-warning: #ff3f3f;
  --color-divide: #868484;
  --font-logo: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--color-important);
}

body {
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: var(--color-nav);
}
