.infoBox {
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.icon {
  width: 35%;
  height: 100%;
}

.infoText {
  width: 70%;
  padding-right: 10%;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
  text-align: end;
}

.infoImportant {
  color: var(--color-text-important);
}
