.timeTable {
  display: flex;
}
.timeImage {
  width: 19vw;
  height: 33vh;
  background-image: url("../../Asset/Image/HOME_icons/class-time.png");
  background-size: cover;
  background-position: -1vw;
  background-repeat: no-repeat;
}

.StopTime {
  position: absolute;
  width: 25vw;
  height: 32vh;
  margin-left: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

hr {
  width: 18vw;
  background-color: #d9d9d9;
  color: #d9d9d9;
  border: none;
  height: 1px;
}

.detailTime span {
  margin: 0 10px;
}

.timeTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1vh 3vw 1vh 0;
}

.classT {
  color: var(--color-text-important);
}
